@mixin SectionPadding {
  @apply px-16
    md:px-10
    sm:px-6;
}

@mixin SectionGap($pos: 'both') {
  @if $pos == 'both' {
    @apply my-48
      md:my-32
      sm:my-20;
  }

  @if $pos == 'top' {
    @apply mt-48
      md:mt-32
      sm:mt-20;
  }

  @if $pos == 'bottom' {
    @apply mb-48
      md:mb-32
      sm:mb-20;
  }
}

@mixin SectionClamp($size: 'lg') {
  @apply mx-auto;

  @if $size == 'sm' {
    @apply max-w-screen-xl;
  }

  @if $size == 'md' {
    @apply max-w-screen-2xl;
  }

  @if $size == 'lg' {
    @apply max-w-screen-3xl;
  }
}
